@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');



.head1 {


  display: block;

  font-weight: 10000;
  padding: 3rem;
  margin: 0 auto;
  text-align: center;
  opacity: 100%;
}

.section1 {
  background-color: aqua;
  background-image: url("12.jpg");
  background-attachment: fixed;
  align-items: center;
  background-position: 0rem;
  background-repeat: no-repeat;
  align-items: center;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  text-align: center;

}

.nav1 {
  padding: 1rem;
  text-align: center;
  background-color: rgb(221, 220, 186);
  opacity: 70%;
  text-align: center;
  text-align: center;
  align-items: center;

}

.head2 {
  font-weight: 100000;
  font-style: unset;
  padding: 2.5rem;
  background-image: url("23.jpg");
}

.section2 {
  text-align: center;
  background-image: url("");
}

.head3 {
  text-align: center;
  background-color: rgb(242, 214, 144);

}


.section3 {
  align-items: center;
  background-color: rgb(204, 175, 190);
  ;

}


.jp {
  padding-top: 0.5rem;
  width: 50%;
  align-items: center;
  margin: 0 auto;
}

.bk {
  padding: 0.5rem;
  width: 50%;
  align-items: center;
  position: fixed;
  margin: 0 auto;
}

.js {
  padding-top: 0.5rem;
  width: 50%;
  align-items: center;
  margin: 0 auto;
}
.footer{
  background-color: black;
  color: white;
 text-align: center;
 padding: 2.5rem;
 border-top-left-radius: 1rem;
 border-top-right-radius: 1rem;
 border-bottom-left-radius:  1rem;
 border-bottom-right-radius: 1rem;

}

.footer.link{
  color:white;
  


}

.inline-li{
display: inline;
padding: 0rem 0.5rem;
align-items: center;



}


/*THIS IS A FLIP BOX */

.flipCard {
   background-color: transparent;
   width: 65%;
   height: 400px;
   perspective:1000px;
   margin: 0 auto;
}
.innerCard {
   position:fixed;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   box-shadow: 0 4px 8px 0 rgba(150, 18, 18, 0.2);
}
.flipCard:hover .innerCard {
   transform: rotateY(180deg);
}
.frontCard, .cardBack {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}
.frontCard {
   background-image: url("bik2.jpg");
   color: black;
}
.cardBack {
   background-color: #3329b9;
   color: white;
   transform: rotateY(180deg);
   font-size: 18px;
   font-weight: bold;
   background-image: url("bk.jpg");
}
