@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');



.head1 {


  display: block;

  font-weight: 10000;
  padding: 3rem;
  margin: 0 auto;
  text-align: center;
  opacity: 100%;
}

.section1 {
  background-color: aqua;
  background-image: url("12.jpg");
  background-attachment: fixed;
  align-items: center;
  background-position: 0rem;
  background-repeat: no-repeat;
  align-items: center;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  text-align: center;

}

.nav1 {
  padding: 1rem;
  text-align: center;
  background-color: rgb(235, 201, 63);
  opacity: 90%;
  text-align: center;
  text-align: center;
  align-items: center;
  color: black;

}

.head2 {
  font-weight: 100000;
  font-style: unset;
  padding: 2.5rem;
  background-image: url("23.jpg");
}

.section2 {
  text-align: center;
  background-image: url("bg234.jpg");
}

.head3 {
  text-align: center;
  background-image: url("bg234.jpg");
  background-color: white;
 

}


.section3 {
  align-items: center;
  background-color: rgb(204, 175, 190);
  background-image:url("bg2.jpg");
  padding:0.5rem;
  
  

}


.jp {
  padding-top: 0.5rem;
  width: 50%;
  align-items: center;
  margin: 0 auto;
}

.bk {
  padding: 0.5rem;
  width: 50%;
  align-items: center;
  position: fixed;
  margin: 0 auto;
}

.js {
  padding-top: 0.5rem;
  width: 50%;
  align-items: center;
  margin: 0 auto;
}
.footer{
  background-color: black;
  color: white;
 text-align: center;
 padding: 2.5rem;
 border-top-left-radius: 1rem;
 border-top-right-radius: 1rem;
 border-bottom-left-radius:  1rem;
 border-bottom-right-radius: 1rem;

}

.footer.link{
  color:white;
  


}

.inline-li{
display: inline;
padding: 0rem 0.5rem;
align-items: center;



}




  .rotated {
    transform: rotate(90deg); /* Equal to rotateZ(45deg) */
    padding-bottom: 1rem;
    align-items: center;

  }




  
  .flipCard {
    background-color: transparent;
    width: 60%;
    height: 400px;
    perspective:1000px;
    margin: 0 auto;
 }
 .innerCard {
    position:fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(150, 18, 18, 0.2);
 }
 .flipCard:hover .innerCard {
    transform: rotateY(180deg);
 }
 .frontCard, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
 }
 .frontCard {
    background-image: url("bik2.jpg");
    color: black;
 }
 .cardBack {
    background-color: #3329b9;
    color: white;
    transform: rotateY(180deg);
    font-size: 18px;
    font-weight: bold;
    background-image: url("bk.jpg");
 }
 







 /*section 2 flip card */

 .flipCard1 {
  background-color: transparent;
  width: 50%;
  height: 400px;
  perspective:1000px;
  margin: 0 auto;
}
.innerCard1 {
  position:fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(150, 18, 18, 0.2);
}
.flipCard1:hover .innerCard1 {
  transform: rotateY(180deg);
}
.frontCard1, .cardBack1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.frontCard1 {
  background-image: url("MB.jpg");
  color: black;
}
.cardBack1 {
  background-color: #3329b9;
  color: white;
  transform: rotateY(180deg);
  font-size: 18px;
  font-weight: bold;
  background-image: url("mt.webp");
}


/* sectiopn 3 flip card */
.flipCard2 {
  background-color: transparent;
  width: 40%;
  height: 400px;
  perspective:1000px;
  margin: 0 auto;
}
.innerCard2 {
  position:fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(150, 18, 18, 0.2);
}
.flipCard2:hover .innerCard2 {
  transform: rotateY(180deg);
}
.frontCard2, .cardBack2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.frontCard2 {
  /*image here*/
  background-image: url("rr44.jpg");
  color: black;
  background-repeat: no-repeat;
}
.cardBack2 {
  background-color:transparent;
  color: white;
  transform: rotateY(180deg);
  font-size: 18px;
  font-weight: bold;
  background-image: url("rr.jpg");
  background-repeat: no-repeat;
}



/* sectiopn 3 flip card */
.flipCard3 {
  background-color: transparent;
  width: 35%;
  height: 300px;
  perspective:1000px;
  margin: 0 auto;
}
.innerCard3 {
  position:fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(150, 18, 18, 0.2);
}
.flipCard3:hover .innerCard3 {
  transform: rotateY(180deg);
}
.frontCard3, .cardBack3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.frontCard3 {
  /*image here*/
  background-image: url("jpur.jpg");
  color: black;
  background-repeat: no-repeat;
}
.cardBack3 {
  background-color:transparent;
  color: white;
  transform: rotateY(180deg);
  font-size: 18px;
  font-weight: bold;
  background-image: url("jp221.jpg");
  background-repeat: no-repeat;
}


#box{
display:inline-block;
border: 0 solid;
padding: 0rem;
align-items: center;
justify-content: center;




}

.flex-container {
  display: flex;
  align-items: center;
  padding:0rem 2rem 0.5rem 2rem;
  background-color: aliceblue;
  opacity: 90%;
}

.flex-child {
  flex: 1;

}  

.flex-child:first-child {
  margin-right: 0px;
  align-items:center;

} 

.container{
  display: inline-block;
}